<html ng-app="TextProcessor">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="app.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700" rel="stylesheet">
  <link href="base-style.css" type="text/css" rel="stylesheet" />
  <link href="style.css" type="text/css" rel="stylesheet" />
  <title>Text Processor</title>
</head>

<body ng-controller="MainController">
  <div class="mainbox">
    <h1>Text Processor</h1>
    <p>What's this for? You know how when you take text from a textbook PDF, it often keeps its formatting,
      which you don't want, and sometimes there are hyphens between numbers and units - like '10.0-kg'
      - which is just wrong, well this simple app removes all of that, and gives you clear plain text.</p>
    <textarea placeholder="Paste text to process here." ng-model="inputText" onclick="this.select();"></textarea>
    <textarea placeholder="Processed text appears here." ng-model="outputText" onclick="this.select();"></textarea>
    <div>
      <button data-clipboard-text="{{outputText}}" class="copyButton">Copy</button>
    </div>
  </div>
</body>

</html>